@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: #222831;
  color: #DFD0B8;
  /* background: #49243E;
  color: #DBAFA0; */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      @apply appearance-none;
    }
}